<!-- Index page for index route to show all jobs -->

<%- include('../partials/jobHeader') %>

<div style="padding-top: 120px; padding-bottom: 150px; background-image: url(/images/get-your-job.svg); background-repeat: no-repeat; background-position: 50% 25%;" class="online-cv section-overly pt-90 pb-120">
    <div class="container">
        <%- include('../partials/flashAlerts') %>
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="cv-caption text-center">
                <p class="pera2"> Get Your Job</p>
                <div class="d-flex justify-content-center">
                    <div class="job-search-field">
                        <div class="job-search-item">
                            <form action="/jobs/search" method="get" class="form row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <div class="home-text d-flex">
                                            <label class="form-label">What</label>
                                            <span class="ms-auto">e.g. job, company</span>
                                        </div>
                                        <div class="position-relative left-icon">
                                            <input type="text" class="form-control" name="name" placeholder="Job title, or company">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group form-action mb-3">
                                        <button type="submit" class="btn btn-danger btn-lg"><i class="fas fa-search"></i> Find Jobs</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="container mt-5 mb-5">
	<h3 class="text-uppercase fw-bold mb-5">Job listings</h3>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">

        <% for ( let job of allJobs.docs){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card text-dark bg-light">
                <div class="card-header text-start"><em>Status: <%= job.status %></em></div>
                <div class="card-body">

                   
                        <% if(job.logo.length > 20) {%>

                            <img src=" <%= job.logo %> " alt="Logo" class="card-img-top" style="width: 45%; height: auto;">
    
                            <%}else {%>
    
                                <i class="fa-solid fa-briefcase fa-2xl" style="color: #166974;"></i>
    
                                <%}%>
                    

                    <h5 class="card-title mt-3">
                        <%=job.companyName%>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">CGPA Requirement:
                        <%=job.CGPA%>
                    </h6>
                    <p class="card-text">
                        <% if(job.postName.length <= 100){ %>
                            <%= job.postName %>
                        <% } else { %>
                            <%- job.postName.substring(0,80) %> ...
                        <% } %>
                    </p>
                    <a href="/jobs/<%= job._id%>" class="btn btn-outline-danger">More Info</a>
                </div>
                <div class="card-footer text-muted">
                    <%= moment(job.createdAt).fromNow() %>
                </div>
            </div>
        </div>
        <br>
        <% } %>
    </div>
</div>

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item"><a <% if(!allJobs.hasPrevPage){%>
                style="pointer-events: none"
            <% } %> class="page-link" href="/jobs?page=<%= allJobs.prevPage %>"><i class="fa-sharp fa-solid fa-arrow-left "></i></a></li>

            <li class="page-item"><a style="color: #ca2a2a;" class="page-link" href="/jobs?page=<%= allJobs.page %>"><%= allJobs.page %></a></li>

            <li class="page-item"><a <% if(!allJobs.hasNextPage){%>
                style="pointer-events: none"
            <% } %> class="page-link" href="/jobs?page=<%= allJobs.page + 1 %>"><%= allJobs.page + 1 %></a>
            </li>

            <li class="page-item"><a <% if(allJobs.totalDocs < (allJobs.page + 2)*allJobs.limit  ){%>
                style="pointer-events: none"
            <% } %> class="page-link" href="/jobs?page=<%= allJobs.page + 2 %>"><%= allJobs.page + 2 %></a>
            </li>

            <li class="page-item"><a <% if(!allJobs.hasNextPage){%>
                style="pointer-events: none"
            <% } %> class="page-link" href="/jobs?page=<%= allJobs.nextPage %>"><i class="fa-sharp fa-solid fa-arrow-right "></i></a></li>
        </ul>
    </nav>
</div>
<%- include('../partials/userFooter') %>
<%- include('../partials/footer') %>