<%- include('../partials/jobHeader') %>


<!-- <h1>Search page of jobs</h1> -->

<!-- <form action="/jobs/search" method="get">
    <input type="text" name="name" id="">
    <input class="btn btn-outline-warning me-3" type="submit" value="search">
</form> -->



<div style="padding-top: 120px; padding-bottom: 150px;  background-image: url(/images/a-woman-looking-for-a-job-on-website.svg); background-size: cover; background-repeat: no-repeat; background-position: 50% 25%;" class="online-cv section-overly pt-90 pb-120">
    <div class="container">
        <%- include('../partials/flashAlerts') %>
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="cv-caption text-center">
                <p class="pera2"> We Found Jobs For You</p>
                <div class="d-flex justify-content-center">
                    <div class="job-search-field">
                        <div class="job-search-item">
                            <form action="/jobs/search" method="get" class="form row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-3">
                                        <div class="home-text d-flex">
                                            <label class="form-label">What</label>
                                            <span class="ms-auto">e.g. job, company</span>
                                        </div>
                                        <div class="position-relative left-icon">
                                            <input type="text" class="form-control" name="name" placeholder="Job title, or company">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group form-action mb-3">
                                        <button type="submit" class="btn btn-danger btn-lg"><i class="fas fa-search"></i> Find Jobs</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="container mt-5 mb-5">
	<h3 class="text-uppercase fw-bold mb-5">Job listings</h3>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">

        <% for ( let job of foundJob){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card text-dark bg-light">
                <div class="card-header text-start"><em>Status: <%= job.status %></em></div>
                <div class="card-body">
                    <% if(job.logo.length > 25) {%>

                        <img src=" <%= job.logo %> " alt="Logo" class="card-img-top" style="width: 45%; height: auto;">

                        <%}else {%>

                            <i class="fa-solid fa-briefcase fa-2xl" style="color: #166974;"></i>

                            <%}%>
                    <h5 class="card-title mt-3">
                        <%=job.postName%>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">CGPA Requirement:
                        <%=job.CGPA%>
                    </h6>
                    <p class="card-text">
                        <% if(job.postName.length <= 100){ %>
                            <%= job.postName %>
                        <% } else { %>
                            <%- job.postName.substring(0,80) %> ...
                        <% } %>
                    </p>
                    <a href="/jobs/<%= job._id%>" class="btn btn-outline-danger">More Info</a>
                </div>
                <div class="card-footer text-muted">
                    <%= moment(job.createdAt).fromNow() %>
                </div>
            </div>
        </div>
        <br>
        <% } %>
    </div>
</div>


<%- include('../partials/userFooter') %>
<%- include('../partials/footer') %>