<%- include('../partials/header') %>
<h1>test page</h1>

<div class="container">
    <form action="/jobs/<%= job._id %>/test" method="post">

        <% job.questions.forEach((ele,ind) => { %>
    
            <h5><%= ele.titel %></h5>
    
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Question<%= ind %>" id="flexRadioDefault1" value="a">
                <label class="form-check-label" for="flexRadioDefault1">
                  <%= ele.option1 %>
                </label>
              </div>
    
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Question<%= ind %>" id="flexRadioDefault2" value="b">
                <label class="form-check-label" for="flexRadioDefault2">
                  <%= ele.option2 %>
                </label>
              </div>
    
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Question<%= ind %>" id="flexRadioDefault3" value="c">
                <label class="form-check-label" for="flexRadioDefault3">
                  <%= ele.option3 %>
                </label>
              </div>
    
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Question<%= ind %>" id="flexRadioDefault4" value="d">
                <label class="form-check-label" for="flexRadioDefault4">
                  <%= ele.option4 %>
                </label>
              </div>
              <hr>

           <% }); %>

              <input type="submit" value="submit">
              <input type="reset" value="reset">
          </form>
</div>

<%- include('../partials/footer') %>