<%- include('../partials/header') %>
<h1>Edit page of jobs</h1>

<form action="/jobs/<%= id %>/questions/<%= quesId %>?_method=patch" method="post">

<input type="text" name="title" value="<%= foundQuestion.titel %>">
<input type="text" name="option1" value="<%= foundQuestion.option1 %>">
<input type="text" name="option2" value="<%= foundQuestion.option2 %>">
<input type="text" name="option3" value="<%= foundQuestion.option3 %>">
<input type="text" name="option4" value="<%= foundQuestion.option4%>">
<input type="text" name="correctAns" value="<%= foundQuestion.correctAns%>">
<input type="submit" value="Updet">

</form>

<%- include('../partials/footer') %>